.ccount_result span{
    color: #00a3b1 !important;
}

.main-banner a{
    color: #00a3b1 !important;
}

.cmeta .smeta i{
    color: #00a3b1 !important;
}
.ccategory a{
    color: #00a3b1 !important;
}

.cauthor a :hover{
    color: #00a3b1 !important;
}

.contact_list{
    background-color: #00a3b1 !important;
}

.form-control:focus{
    border-color: #00a3b1 !important;
}

.scourse_list i{
    color: #00a3b1 !important;
}

.cd_price span{
    color: #00a3b1 !important;
}

.cd_tab #nav-tab.nav-tabs button.nav-link.active{
    background-color: #00a3b1 !important;
}

.cd_tab #nav-tab.nav-tabs button.nav-link.active{
    border-color: aliceblue !important;
}

.cdin_content span{
    color: #00a3b1 !important;
}

search_box active{
    background-color: #00a3b1 !important;
}